body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1200px;
    margin: 20px auto;
    padding: 0 20px;
}

.header {
    background-color: #4CAF50; /* Verde */
    color: #fff;
    padding: 10px;
    text-align: center;
    border-radius: 5px;
}

.menu {
    list-style-type: none;
    padding: 0;
    margin: 0;
    text-align: center;
}

.menu li {
    display: inline-block;
    margin-right: 10px;
}

.menu li a {
    text-decoration: none;
    color: #333;
    padding: 10px;
    border-radius: 5px;
    background-color: #FFD600; /* Amarillo */
    transition: background-color 0.3s ease;
}

.menu li a:hover {
    background-color: #FFC107; /* Amarillo oscuro */
    color: #fff;
}

.product {
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    padding: 20px;
}

.product img {
    display: block;
    margin: 0 auto 10px;
    max-width: 100%;
    height: auto;
    border-radius: 5px;
}

.product h3 {
    color: #333;
    font-size: 20px;
    margin-bottom: 10px;
}

.product p {
    color: #666;
    font-size: 16px;
    margin-bottom: 10px;
}

.product .btn-add {
    background-color: #2196F3; /* Azul */
    color: #fff;
    border: none;
    padding: 8px 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.product .btn-add:hover {
    background-color: #1976D2; /* Azul oscuro */
}




